[submodule "implementations/gti"]
	path = implementations/gti
	url = https://github.com/MingqiWang-coder/GTI-Graph-based-Tree-Index.git
	branch = main
[submodule "implementations/ipdiskann"]
	path = implementations/ipdiskann
	url = https://github.com/intellistream/IP-DiskANN.git
	branch = main
[submodule "implementations/plsh"]
	path = implementations/plsh
	url = https://github.com/Kwan-Yiu/PLSH.git
	branch = master
[submodule "implementations/vsag"]
	path = implementations/vsag
	url = https://github.com/intellistream/vasg.git
	branch = main
